<div class="user-repository-badge-preview">
  <p class="badge-preview__label"><%= h repository_display_name(repository) %></p>
  <%= erb :"profiles/inline_badge_preview", locals: { badge_path: repository_badge_path(repository), alt_text: t('repositories.badge.alt') } %>
</div>
