GITHUB_TOKEN=
GITLAB_TOKEN=
CODEBERG_TOKEN=
DATABASE_URL=sqlite://db/polish_github_rank.sqlite3
REQUESTS_PER_MINUTE=60
BASE_URL=http://localhost:9292
APP_BASE_PATH=
SESSION_SECRET=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
DISCORD_OAUTH_CLIENT_ID=
DISCORD_OAUTH_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_INVITE_CHANNEL_ID=
DISCORD_ROLE_TOP_10_PL=
DISCORD_ROLE_TOP_100_PL=
DISCORD_ROLE_TOP_100_CITY_WARSZAWA=
DISCORD_ROLE_TOP_100_CITY_KRAKOW=
DISCORD_ROLE_TOP_100_CITY_WROCLAW=
DISCORD_ROLE_TOP_100_CITY_LODZ=
DISCORD_ROLE_TOP_100_CITY_POZNAN=
DISCORD_ROLE_TOP_100_CITY_GDANSK=
DISCORD_ROLE_TOP_100_CITY_SZCZECIN=
DISCORD_ROLE_TOP_100_CITY_BYDGOSZCZ=
DISCORD_ROLE_TOP_100_CITY_TORUN=
DISCORD_ROLE_TOP_100_CITY_LUBLIN=
DISCORD_ROLE_TOP_100_CITY_BIALYSTOK=
DISCORD_ROLE_TOP_100_CITY_KATOWICE=
DISCORD_ROLE_TOP_100_CITY_KIELCE=
DISCORD_ROLE_TOP_100_CITY_OLSZTYN=
DISCORD_ROLE_TOP_100_CITY_OPOLE=
DISCORD_ROLE_TOP_100_CITY_RZESZOW=
DISCORD_ROLE_TOP_100_CITY_ZIELONA_GORA=
DISCORD_ROLE_TOP_100_CITY_GORZOW_WIELKOPOLSKI=
DISCORD_ROLE_BADGE_TOP_1=
DISCORD_ROLE_BADGE_TOP_2=
DISCORD_ROLE_BADGE_TOP_3=
DISCORD_ROLE_BADGE_TOP_10=
DISCORD_ROLE_BADGE_TOP_100=
