<section class="location-notice" aria-label="<%= h t('ranking_location_notice.label') %>">
  <div class="content">
    <p>
      <%= h t('ranking_location_notice.prefix') %>
      <a href="https://github.com/settings/profile#user_profile_location">
        <strong><%= h t('ranking_location_notice.action') %></strong>
      </a><%= h t('ranking_location_notice.suffix') %>
    </p>
  </div>
</section>
